body {
    font-size: 14px;
}

h1 {
    font-size: 32px;
}

label, input, button, select {
    font-size: 14px;
}

legend, th{
	font-size: 16px;
	font-weight: 600 !important;
}


input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"] {
    font-size: 14px;
    height: 40px;
}


button {
    font-size: 14px !important;
 	padding: 10px !important;
}
