<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GhostNetFishing Startseite</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<main class="container">
    <h1>Willkommen bei GhostNetFishing</h1>
    <p>Was möchten Sie tun?</p>

	<a href="/netze/erfassen" role="button">Geisternetz melden</a>
	
	<a href="/netze/liste" role="button">Alle Geisternetze anzeigen</a>

</main>

</body>
</html>
